/* some style */
html,
body {
  font-family: 'Open Sans', sans-serif;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* w3c */
}

#app {
  height: 1000px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  margin: auto;
}

.cell {
  width: 32.5%;
  height: 115px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: darkmagenta;
}

.cell.X {
  color: blue;
}

.reset {
  width: 200px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid navy;
  font-size: 20px;
}

h1,
.reset-section {
  display: flex;
  justify-content: center;
}

.game-status {
  color: navy;
}
